<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Logged-in Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_logged_in_users.css') }}">
</head>
<body>
    <div class="navbar">
        {% include 'navbar.html' %}
    </div>
    <div class="user-logs">
        <h1>Logged-in Users</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User Email</th>
                    <th>Role</th>
                    <th>Login Time</th>
                </tr>
            </thead>
            <tbody>
                {% for user in logged_in_users %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
